 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <img src="{{site.baseurl}}/img/aboutme.jpg" class="top-img img-responsive center-block" alt="Me and my wife">
                    <p class="text-center"><small><i>Me and my lovely wife, Charlotte!</i></small></p>
                    <br>
                    <p>Above <u>everything</u> else, I'm a hard-working family man.</p>
                    <p>I've been working in the stucco industry for my entire life (since I was 19 years old). I've completed work on many Livermore properties over the years including celebrity estates, personal homes, businesses, schools, and government agencies.</p>
                    <p>My ultimate goal when completing the job is to ensure that everything was done to the highest standard possible and to leave the property as clean as when I got there.</p>
                </div>
            </div>
        </div>
    </section>
