
    <!-- Portfolio Grid Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Services</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h3>Exterior Stucco &amp; Lathing</h3>
                <p>I take pride in my exterior stucco work and treat every project as if it were my own home. No matter how small or large the task, I'll know you'll be be happy with the outcome!</p>

                <h3>Stucco Color Coats</h3>
                <p>Instead of painting over the stucco after it's been applied, I can add color to my mixture and do both at once.</p>

                <h3>Stucco Repair &amp; Patch Jobs</h3>
                <p>If the stucco on your property was damaged due any sort of incident, I'll do my best to repair the area and remove any remnants indicating it ever came into existence.</p>

                <h3>Foam Door &amp; Window Trims</h3>
                <p>I can apply custom foam trims to your doors and windows to make your property come alive and differentiate it from the rest of the community!</p>
            </div>
        </div>
    </section>
